body {
    background-color: rgb(0, 0, 0);
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: gray;
    text-decoration: none;
}

li.list-inline-item.active {
    color: white !important;
}

li.list-inline-item.decorator {
    color: gray !important;
}

@font-face {
    font-display: swap;
}

.fa {
    font-size: 30px;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.menu {
    padding-top: 20px;
    text-align: center;
}

.content {
    padding-top: 25px;
    text-align: center;
    color: gray;
}

.logo {
    width: 200px;
    height: 200px
}

.album h1 {
    padding-top: 20px;
}

.album h1 {
    text-align: center;
    font-size: 15px;
    color: black;
    padding-bottom: 20px;
}

.album span {
    font-size: 11px;
    margin-left: 10px;
}

.album .cover {
    text-align: right;
}

.album .cover img {
    max-width: 80%;
}

.album .tracklist {
    text-align: left;
}

.album .tracklist ol {
    color: gray;
    font-size: 12px;
    margin-left: -40px;
    text-align: left;
}

.player {
    padding-top: 50px;
    text-align: center;
}

.social {
    padding-top: 30px;
    text-align: center;
}

.pi {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: right;
}

.qr {
    padding-top: 50px;
    text-align: center;
}
